body {
  --orange-color: rgb(49, 132, 138);
  --ltBlue-color: #5b85aaff;
  --purple-color: #414770ff;
  --violet-color: #372248ff;
  --dark-color: ;
}

@media screen and (max-width: 480px) {
  .header {
    grid-column: span 6;
  }
  .menu {
    grid-row: 1;
    grid-column: span 6;
  }
  .content {
    grid-column: span 12;
  }
}
