.conf-main {
  text-align: center;
  background-color: linen;
}
.header {
  color: #ffa500;
}
.host {
  color: lightseagreen;
  text-decoration: underline;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
}
.conf-image {
  height: 304px;
  width: 588px;
  border-radius: 45px;
}
