
  h2,h3,h4{
    font-weight:bolder;
  }
  
  .wrapper {
    max-width: 100%;
    margin: 0 auto;
   background-color: lightgray;
     display: flex;
    justify-content: space-evenly;
    padding-top: 25px;

  }
 
.list-layout {
    list-style-type: disc;
}

  .col-1{
    flex-grow:1;
    font-size:0.8em;
 
    
  }

  .col-1 h3{
    font-size:1.1em;
    margin-bottom:1em;
    text-decoration: underline;
  }

  .col-1 a{
    display:inline-block;
    margin-bottom:5px;
    font-size:0.9em;
    letter-spacing:0.03em;
  }

  .text-center{
    text-align:center;
  }

  .margin-below-1{
    margin-bottom:1em;
  }

