.home {
  text-align: center;
  position: relative;
  background-color: linen;
}

.top-img img {
  width: 100%;

  background-color: linen;
}

.simple-steps {
  border: 1px solid black;
}

.all-steps {
  border: 1px solid blue;
  display: flex;
}

.safety-list {
}

.safety-steps {
  display: inline;
}

.safety-list img {
  width: 150px;
  height: 150px;
  border: 5px solid lightseagreen;
  border-radius: 25%;
}

.safety-background {
  float: left;
}

.safety-neighborhood {
  float: left;
}

.safety-badges {
  float: right;
}

.hostimage {
  max-width: 100%;
  margin-top: 75px;
  height: auto;
  border-radius: 30px;
}

.search-container {
  position: absolute;
  top: 800px;
  right: 600px;
  width: 150px;
  height: 100px;
}

.header {
  color: #ffa500;
  text-decoration: underline;
}

.pinfo {
  font-weight: 650;
}
