.home {
  text-align: center;
  position: relative;
  background-color: rgb(87, 84, 84);
}

.main-square {
  background-color: rgb(87, 84, 84);
  border: 5px solid black;
  width: 600px;
  height: 550px;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 5px;
  color: white;
}

.search-container {
  position: absolute;
  top: 55%;
  left: 40%;
  display: flex;
  flex-direction: row;
  /* transform: translate(-50%, -50%);  */
}

.top-img img {
  /* width: 100%;
  height: 600px; */
  background-color: linen;
}

.simple-steps {
  border: 1px solid black;
}

.all-steps {
  border: 1px solid blue;
  display: flex;
}

/* .safety-list { */
/* } */

.safety-steps {
  display: inline;
  border-bottom: 100px;
}

.safety-list img {
  width: 150px;
  height: 150px;
  border: 5px solid lightseagreen;
  border-radius: 25%;
  justify-content: space-evenly;
}

.hostimage {
  max-width: 100%;
  margin-top: 75px;
  height: auto;
  border-radius: 30px;
}

.top-img {
  position: relative;
  text-align: center;
}

.header {
  color: #ffa500;
  text-decoration: underline;
  padding-bottom: 50px;
  margin: auto;
}

.pinfo {
  font-weight: 650;
}

.box-header {
  color: rgb(241, 233, 233);
  font-size: 80px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.box-text {
  color: rgb(241, 233, 233);
  font-size: 40px;
}
