.search-main {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
}

button {
  background-color: linen;
  color: #ffa500;
  font-size: 35px;
  font-weight: 500;
  width: 315px;
  height: 53px;
  border-radius: 10px;
  border: 5px solid #ffa500;
  margin: 5px;
  border-radius: 200px;
  float: right;
}

.input {
  height: 50px;
  width: 300px;
  border: 5px solid #ffa500;
  float: left;
  margin: 5px;
  border-radius: 10px;
  background-color: linen;
  font-size: 20px;
  float: right;
}

.monthMenu {
  height: 58px;
  width: 315px;
  border: 5px solid #ffa500;
  /* margin: 25px; */
  background-color: linen;
  border-radius: 10px;
  /* float: right; */
  font-size: 20px;
}
