.form-group {
    width: 300px;
    text-align: center;
}

.form-desc {
    width: 300px;
    
}
.form-address {
    width: 500px;
}

.sign-up-div {
    display: flex;
    justify-content: center;
}

textarea {
    padding: 7px 20px 7px 0;
    min-height: 200px;
    min-width: 500px;
    resize: none;

}